<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2 mb-4">
                <h3>SHOP</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Living Room</a></li>
                    <li><a href="#" class="text-white">Bedroom</a></li>
                    <li><a href="#" class="text-white">Youth</a></li>
                    <li><a href="#" class="text-white">Mattresses</a></li>
                    <li><a href="#" class="text-white">Dining Room</a></li>
                    <li><a href="#" class="text-white">Appliances</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-4">
                <h3>CUSTOMER RESOURCES</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Customer Service</a></li>
                    <li><a href="#" class="text-white">Financing</a></li>
                    <li><a href="#" class="text-white">Bill Pay</a></li>
                    <li><a href="#" class="text-white">Delivery</a></li>
                    <li><a href="#" class="text-white">Will-Call Pickup</a></li>
                    <li><a href="#" class="text-white">Warranty</a></li>
                    <li><a href="#" class="text-white">Online Orders</a></li>
                    <li><a href="#" class="text-white">Special Orders</a></li>
                    <li><a href="#" class="text-white">Care & Cleaning Tips</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-4">
                <h3>COMPANY</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Store Locations</a></li>
                    <li><a href="#" class="text-white">Contact Us</a></li>
                    <li><a href="#" class="text-white">About Us</a></li>
                    <li><a href="#" class="text-white">Community</a></li>
                    <li><a href="#" class="text-white">Safe Harbor</a></li>
                    <li><a href="#" class="text-white">Careers</a></li>
                    <li><a href="#" class="text-white">Policies</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-4">
                <h3>SHOPPING TOOLS</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Current Ads</a></li>
                    <li><a href="#" class="text-white">Sign Up for Email Offers</a></li>
                    <li><a href="#" class="text-white">My Account</a></li>
                    <li><a href="#" class="text-white">My Lists</a></li>
                    <li><a href="#" class="text-white">View Cart</a></li>
                    <li><a href="#" class="text-white">Room Planner</a></li>
                    <li><a href="#" class="text-white">Brands We Carry</a></li>
                    <li><a href="#" class="text-white">Shopping Tips</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h3>LOCATIONS</h3>
                <p>Come stop by our store! We have 13 convenient locations across Tennessee, Mississippi, Alabama,
                    and Alabama.</p>
                <a href="/locations" class="btn btn-light mb-3">Find a Store</a>
                <h3>DON'T MISS OUT ON DEALS & NEW RELEASES</h3>
                <form class="mb-3">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter Email">
                        <button type="submit" class="btn btn-light">Sign Up</button>
                    </div>
                </form>
                <div class="social-icons">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter-square fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-pinterest fa-2x"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-youtube fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <p class="small">Royal Furniture features a great selection of <a href="#" class="text-white">sofas</a>, <a
                href="#" class="text-white">sectionals</a>, <a href="#" class="text-white">recliners</a>, <a
                href="#" class="text-white">chairs</a>, <a href="#" class="text-white">leather furniture</a>, <a
                href="#" class="text-white">custom upholstery</a>, <a href="#" class="text-white">beds</a>, <a
                href="#" class="text-white">mattresses</a>, <a href="#" class="text-white">dressers</a>, <a href="#"
                class="text-white">nightstands</a>, <a href="#" class="text-white">dining sets</a>, <a href="#"
                class="text-white">kitchen storage</a>, <a href="#" class="text-white">office furniture</a>, <a
                href="#" class="text-white">entertainment</a> and can help you with your home design and decorating.
            Royal Furniture offers great quality furniture, at a low price to the Memphis, Cordova, Winchester,
            Sumner, Whitehaven, Jackson, Southaven, Birmingham, Hoover, Trussville, Tuscaloosa, Montgomery areas.
        </p>
        <p class="small">Information Accuracy - We have taken great care to provide you with information that is
            accurate and useful. Please notify us if you find an error and we will do our best to correct it. We ask
            that you contact us directly to confirm information about pricing, color, features, dimensions,
            availability and lead times.</p>
        <p class="small">Nothing on this page may be copied or reproduced without explicit permission.</p>
    </div>
    <div class="container mt-4">
        <div class="d-flex align-items-center">
            <img src="assets/furniture-dealer-logo.png" alt="Furniture Dealer Logo" class="me-3">
            <p class="small m-0">Site Powered by FurnitureDealer.net © 2006 - 2024 FurnitureDealer.net, Inc., All
                rights reserved.</p>
        </div>
    </div>
</footer>